extends layout.pug

block content
  title= title_page

  body
    div(class="jumbotron")
      h1= trip_name
      h2= summary
      div(align = "left")

    .container
      .float-sm-right
        button.btn.btn-primary(type='button')= c_lang 

      ul(class="nav nav-tabs")
        li(class="nav-item")
          a(class="nav-link active show" data-toggle="tab" href="#itin") Itinerary
        li(class="nav-item")
          a(class="nav-link" data-toggle="tab" href="#finance") Finance
        li(class="nav-item")
          a(class="nav-link" data-toggle="tab" href="#health") Heallth 


      #myTabContent.tab-content
        #itin.tab-pane.fade.active.show
          .card.text-white.bg-danger.mb-3
            .card-header Header
            .card-body
              h5.card-title Danger card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        #finance.tab-pane.fade
          .card.text-white.bg-warning.mb-3
            .card-header Header
            .card-body
              h5.card-title Danger card title
              p.card-text
                | Some quick example text
        #health.tab-pane.fade
          .div.row
            .div.col-4   
              .card.text-white.bg-secondary.mb-3
                .card-header Local Fire Department
                .card-body
                  img(src="/imgs/fire.png")
                  h2.card-title= f_num
                  p.card-text
                    | Some quick example text
            .div.col-4   
              .card.text-white.bg-info.mb-3
                .card-header Local Police
                .card-body
                  img(src="/imgs/police.png")
                  h2.card-title= p_num 
                  p.card-text
                    | Some quick example text
            .div.col-4   
              .card.text-white.bg-warning.mb-3
                .card-header Local Ambulance
                .card-body
                  img(src="/imgs/ambulance.png")
                  h2.card-title= a_num
                  p.card-text
                    | Some quick example text
